 .u-section-1 {
  background-image: url("/images/Eggs-layover-min.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 66px 229px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 80px 229px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-weight: 600;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 440px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 41px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 998px;
}

.u-section-2 .u-text-1 {
  font-weight: 500;
  font-size: 2.8125rem;
  margin: 57px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 600;
  font-size: 1.875rem;
  margin: 41px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  margin: 51px auto 0 0;
}

.u-section-2 .u-list-1 {
  margin-top: 104px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 16px));
  min-height: 351px;
  grid-gap: 24px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-2 .u-image-1 {
  width: 162px;
  height: 162px;
  background-image: url("/images/Icontraining.png");
  background-position: 50% 50%;
  margin: -71px auto 0 22px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 9px auto 0 22px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-style: normal;
  margin: 38px 0 0 22px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  margin: 30px auto auto;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-2 .u-image-2 {
  width: 162px;
  height: 162px;
  background-image: url("/images/iconAudit.png");
  background-position: 50% 50%;
  margin: -71px auto 0 22px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 9px auto 0 22px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  font-style: normal;
  margin: 38px 0 0 22px;
}

.u-section-2 .u-btn-2 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  margin: 30px auto auto;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-2 .u-image-3 {
  width: 162px;
  height: 162px;
  background-image: url("/images/Iconconsulting.png");
  background-position: 50% 50%;
  margin: -71px auto 0 22px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 9px auto 0 22px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-style: normal;
  margin: 38px 0 0 22px;
}

.u-section-2 .u-btn-3 {
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  border-style: solid;
  margin: 30px auto auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1030px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 40px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 342px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 20px;
  }

  .u-section-2 .u-btn-3 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 35px));
    min-height: 787px;
    grid-gap: 70px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1988px;
  }

  .u-section-2 .u-list-1 {
    width: 349px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1136px;
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 402px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  margin: 55px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  margin: 66px 0 55px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 188px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-image-1 {
  width: 269px;
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-3 .u-image-2 {
  width: 269px;
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-3 .u-image-3 {
  width: 269px;
  height: 269px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-3 .u-image-4 {
  width: 269px;
  height: 269px;
  margin: 0 auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 369px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    width: 226px;
    height: 226px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 226px;
    height: 226px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 226px;
    height: 226px;
    margin-left: auto;
  }

  .u-section-3 .u-image-4 {
    width: 226px;
    height: 226px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 61px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 582px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 408px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-3 .u-image-1 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-2 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-3 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-image-4 {
    height: 79px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 896px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 46px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 30px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 9px;
  margin-bottom: 30px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 649px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  width: 400px;
  height: 450px;
  margin: 68px auto 0;
}

.u-section-4 .u-text-3 {
  margin: -63px auto 0 118px;
}

.u-section-4 .u-text-4 {
  margin: -65px auto 0 118px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 649px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-form-1 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-4 .u-form-group-3 {
  margin-left: 0;
}

.u-section-4 .u-form-group-4 {
  margin-left: 0;
}

.u-section-4 .u-btn-1 {
  width: 100%;
  background-image: none;
  font-weight: 700;
  padding: 12px 31px 12px 29px;
}

.u-section-4 textarea{
  resize: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 866px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -66px;
    margin-left: 64px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: -62px;
    margin-left: 64px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 20px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 46px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 641px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 338px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -55px;
    margin-left: 29px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -52px;
    margin-left: 29px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1458px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -49px;
    margin-left: 141px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 141px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1320px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 387px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 46px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 46px;
  }
}